.table-striped {
    color: black;
    margin-left: 0px;
    padding-left: 0px;
}
table, th, td {
/*    border: none;*/
/*border-style: none;*/
    border-collapse: collapse;
    border-spacing: 0;
}
#cssTable td
{
    /*text-align: center;*/
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
}
.cssFirstCol
{
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
    /*background-color: white;*/
    /*color: white;*/
}
.cssFirstRow
{
    text-align: center;
}
